*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    font-family: 'Times New Roman', Times, serif;
    padding: 60px;
    text-align: center;
    background-color: rgb(38, 38, 94);
    color: antiquewhite;
    marker: none;

}

img{
    display: block;
    height: 300px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

nav {
 
   justify-content: center;
   background-color: rgb(160, 101, 101);
   color: aliceblue;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    padding: 0px;
}

nav a {
    background-color: darkblue;
    color: rgb(226, 218, 208);
    font-weight: bold;

}

nav a:hover {
    color: rgb(143, 17, 38);
    background-color: aqua;
}


main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;

}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: darkblue;
    color: antiquewhite;
}

.card {
    flex: 1 0 100px;
    text-align: center;
    border-width: 5px;
    border-style:ridge;
    border-color:aqua;
}   

.card header {
    padding: 20px;
    background: darkblue;
    color: rgb(221, 225, 230);
}
    
aside {
    flex: 30%;
    background-color: aqua;
    padding: 50px 50px 50px;
    flex-wrap: wrap;
}

section {
    flex: 70%;
    background-color: blue;
    padding: 40px;
    
}

main a:link {
    background-color: rgb(211, 200, 200);
   
}

footer {
    padding: 20px;
    text-align: left;
    background: rgb(5, 5, 59);
    color: aliceblue;
}

.sample-ing {
    background-color: rgb(200, 207, 205);
    width:100%;
    padding:10px;
    height:200px;
    border:10px solid black;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    nav {
        background-color: black;
    }
    
}